.titleWrapper {
  margin-bottom: 10px;
}
.sectionTitle {
  font-size: 40px;
  font-family: "p22-basala", sans-serif;
}

.contentSummary {
  display: flex;
  gap: 40px;
}

.thumbnail {
  flex-basis: 45%;
  aspect-ratio: 5 / 3;
  height: auto;
}

.contentSummaryTexts {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
}

.contentSummaryMeta {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 20px;

  .postDate {
    font-family: source-han-serif-japanese, serif;
    font-size: 64px;
    font-weight: bold;
  }

  .linkToTopPage {
    position: relative;
    flex: 0 0 auto;
    width: 160px;
    height: 2px;
    margin-top: 29px;
    background-color: #000000;
    transition:
      opacity 0.3s,
      padding-left 0.3s;

    &:hover {
      opacity: 0.6;
      padding-left: 10px;
    }

    // 右矢印
    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      right: 0;
      width: 45px;
      height: 1px;
      border-radius: 9999px;
      background-color: #000000;
      transform: rotate(45deg);
      transform-origin: calc(100% - 2px) 50%;
    }

    .linkText {
      position: absolute;
      top: -100%;
      transform: translateY(-100%);
      width: 100%;
      font-family: source-han-serif-japanese, serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #000000;
      text-decoration: none;
    }
  }
}
