.titleWrapper {
  margin-bottom: 10px;
}
.sectionTitle {
  font-size: 40px;
  font-family: "p22-basala", sans-serif;
}

.contentSummary {
  display: flex;
}

.thumbnail {
  flex-basis: 45%;
  aspect-ratio: 5 / 3;
  height: auto;
}

.contentSummaryTexts {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.postDate {
  font-family: source-han-serif-japanese, serif;
  font-size: 64px;
  font-weight: bold;
}
