.form {
  margin-bottom: 20px;
}

.formHeader {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
}

.publishedDateContainer {
  display: flex;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
