.article {
  margin: 10px 0 10px;
}

.datesWrapper {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.blogTitle {
  margin-bottom: 8px;
}

.thumbnail {
  width: 100%;
  height: 500px;
}

.h2 {
  font-family: ryo-gothic-plusn, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 15px;
}

.h3 {
  font-family: ryo-gothic-plusn, sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 6px;
}

.paragraph {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.inlineCodeText {
  font-family: "source-code-pro", monospace;
  background: #f5f2f0;
  color: #b6261e;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.95em;
}

.codeBlock {
  display: block;
  padding: 12px 8px !important;
  background-color: #1e1e1e;
}