@use "../../styles/variables" as vars;

.title {
  font-family: ryo-gothic-plusn, sans-serif;
  font-weight: bold;
}

.large {
  font-size: 48px;

  @include vars.breakPoint("tablet") {
    font-size: 36px;
  }

  @include vars.breakPoint("sp") {
    font-size: 18px;
  }
}
.semiLarge {
  font-size: 36px;

  @include vars.breakPoint("tablet") {
    font-size: 28px;
  }


  @include vars.breakPoint("sp") {
    font-size: 16px;
  }
}
