.article {
  margin: 10px 0 10px;
}

.datesWrapper {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.blogTitle {
  margin-bottom: 15px;
}

.h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.paragraph {
  padding: 0 30px;
  margin-bottom: 15px;
}
