.form {
  margin-bottom: 10px;
}

.publishedDateContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #4169e1;
  border: 2px solid #dcdcdc;
  color: #ddd;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
}
.titleInput {
  width: 100%;
  padding: 2px;
  border-bottom: 1px solid #dcdcdc;

  &:focus {
    outline: none;
    border-bottom: 2px solid #333;
  }
}
