@use "shared-ui/src/styles/_variables.scss" as vars;

.header {
  position: relative;
  width: 100%;
  max-width: vars.$container-max-width;
  margin: 0 auto;
  padding: 25px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  &:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #ddd;
  }

  @include vars.breakPoint("tablet") {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
  }

  @include vars.breakPoint("sp") {
    padding: 5px 10px;
  }
}

.link {
  font-family: ryo-gothic-plusn, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition:
    color 0.3s,
    opacity 0.3s;

  &:hover {
    color: #555;
    opacity: 0.9;
  }
}

.blogTitle {
  font-family: toppan-bunkyu-midashi-min-st, serif;
  font-size: 38px;

  @include vars.breakPoint("sp") {
    font-size: 18px;
  }
}

.nav {
  @include vars.breakPoint("tablet") {
    display: none;
  }
}
