.headerWrapper {
  padding: 20px 0;
  border-bottom: 3px solid #ddd;
}

.header {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: ryo-gothic-plusn, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px 10px;
  opacity: 1;
  transition:
    color 0.3s,
    opacity 0.3s;

  &:hover {
    color: #555;
    opacity: 0.9;
  }
}

.blogTitle {
  font-family: toppan-bunkyu-midashi-min-st, serif;
  font-size: 38px;
}
