.headerWrapper {
  padding: 20px 0;
  border-bottom: 3px solid #ddd;
}

.header {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

.blogTitle {
  font-family: toppan-bunkyu-midashi-min-st, serif;
  font-size: 38px;
}
