@use "shared-ui/src/styles/_variables.scss" as vars;

/* Nav items */
.spNav {
  position: absolute;
  left: 50%;
  width: 100vw;
  top: 100%;
  padding: 0 10px;
  clear: both;
  background: rgba(20, 20, 20, 0.8);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0) translateX(-50%);
  transform-origin: top;

  display: none;
  @include vars.breakPoint("tablet") {
    display: block;
  }
}

/* Hamburger menu button */
.openedSpNav {
  transform: scale(1, 1) translateX(-50%);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.spNav a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
}

.spNav li {
  border-top: 1px solid rgb(75, 75, 75);
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 15px 30px;
  opacity: 0;
  transition: 0.5s;
}

.openedSpNav a,
.openedSpNav li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menuButton {
  display: none;
}

.menuIcon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  display: none;
  @include vars.breakPoint("tablet") {
    display: block;
  }
}

.menuIconParts {
  background: #ddd;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menuIconParts:before,
.menuIconParts:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menuIconParts:before {
  top: 9px;
}

.menuIconParts:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.header:has(.openedSpNav) .menuIcon {
  .menuIconParts {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .menuIconParts:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .menuIconParts:after {
    transform: rotate(45deg);
    bottom: 0;
  }
}
/* Hamburger Menu Animation End */
