@use "shared-ui/src/styles/_variables.scss" as vars;

.codeBlockWrapper {
  position: relative;
  background-color: #1e1e1e;
  margin: 0;

  &:hover {
    .copyIcon {
      opacity: 1;
    }
  }
}
.copyIcon {
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 8px 0;
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;

  opacity: 0;
  transition: opacity 0.3s ease;
}
.codeTitle {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px 4px 0 0;

  @include vars.breakPoint("tablet") {
    font-size: 12px;
  }
  @include vars.breakPoint("sp") {
    font-size: 10px;
    padding: 5px 6px;
  }
}
