.paragraph {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.inlineCodeText {
  font-family: "source-code-pro", monospace;
  background: #f5f2f0;
  color: #b6261e;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.95em;
}
