.title {
  position: relative;

  font-size: 32px;
  font-weight: 700;
  color: #fff;

  width: 100%;
  max-width: 900px;
  height: auto;

  padding: 30px 30px;

  background: linear-gradient(70deg, #212121 0%, #47242c 75%, #ec3161 100%);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  &::before {
    content: '';
    position: absolute;

    top: 0;
    left: 15px;

    width: 5px;
    height: 100%;

    background: #fff;
  }
}
