@use "../../../../styles/_variables.scss" as vars;

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: vars.$primary-button-color;
  color: vars.$primary-button-text-color;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px vars.$primary-button-shadow;
  border: 2px solid vars.$primary-button-color;

  &:hover {
    background-color: vars.$primary-button-active-color;
    border-color: vars.$primary-button-active-color;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px vars.$primary-button-active-shadow;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px vars.$primary-button-shadow;
  }
}
