@use "shared-ui/src/styles/_variables.scss" as vars;

.sectionTitle {
  font-family: ryo-gothic-plusn, sans-serif;
  font-weight: bold;

  font-size: 42px;
  margin-bottom: 20px;
  letter-spacing: 6px;

  @include vars.breakPoint("tablet") {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @include vars.breakPoint("sp") {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.blogPostList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include vars.breakPoint("tablet") {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.blogPostItem {
  margin-bottom: 20px;

  @include vars.breakPoint("tablet") {
    margin-bottom: 15px;
  }
}

.linkToPost {
  transform: translateY(-0px);
  opacity: 1;
  transition:
    opacity 0.3s,
    transform 0.3s;

  &:hover {
    opacity: 0.8;
    transform: translateY(-5px);

    @include vars.breakPoint("sp") {
      transform: translateY(0);
    }
  }
}

.thumbnail {
  width: 100%;
  aspect-ratio: 5 / 3;
  position: relative;
  margin-bottom: 5px;
}

.postDate {
  font-family: source-han-serif-japanese, serif;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;

  @include vars.breakPoint("tablet") {
    font-size: 12px;
  }

  @include vars.breakPoint("sp") {
    font-size: 10px;
  }
}

.blogPostTitle {
  font-family: ryo-gothic-plusn, sans-serif;
  font-weight: bold;
  font-size: 20px;

  @include vars.breakPoint("tablet") {
    font-size: 14px;
  }

  @include vars.breakPoint("sp") {
    font-size: 11px;
  }
}
