@use "shared-ui/src/styles/_variables.scss" as vars;

.body {
  overflow-x: hidden;
}

.main {
  width: 100%;
  max-width: 1540px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px;

  @include vars.breakPoint("sp") {
    padding: 10px;
  }
}

.footer {
  text-align: center;
  align-content: center;
  height: 50px;
}
