.body {
  overflow-x: hidden;
}

.main {
  width: 100%;
  max-width: 1540px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10% 0;
}

.footer {
  text-align: center;
  align-content: center;
  height: 50px;
}
