.viewTopTechPickSection {
  margin-bottom: 30px;
}
.viewLatestsSection {
  margin-bottom: 30px;
}
.viewPickUpPostsSection {
  margin-bottom: 60px;
}
.viewPopularPostsSection {
  margin-bottom: 30px;
}
