// Button colors
$primary-button-color: #3b82f6;
$primary-button-active-color: #2563eb;
$primary-button-text-color: white;

// Button shadow colors
$primary-button-shadow: rgba(59, 130, 246, 0.2);
$primary-button-active-shadow: rgba(59, 130, 246, 0.3);
